@model tl2_tp6_2024_ElZorroAs.Models.Productos

@{
    ViewData["Title"] = "Obtener Producto";
}

<h2>Detalles del Producto</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID:
        </dt>
        <dd class="col-sm-10">
            @Model.IdProducto
        </dd>
        <dt class="col-sm-2">
            Descripción:
        </dt>
        <dd class="col-sm-10">
            @Model.Descripcion
        </dd>
        <dt class="col-sm-2">
            Precio:
        </dt>
        <dd class="col-sm-10">
            $@Model.Precio
        </dd>
    </dl>
</div>

<a href="@Url.Action("ListarProductos", "Producto")" class="btn btn-secondary">Volver a la Lista</a>
